body {
    justify-content: center;
    background-image: url('a1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
    /*filter: blur(8px);
    -webkit-filter: blur(8px); */  
}

.error {
    background: #ffffff;
    color: #ff0000;
    padding: 10px;
    font-size: large;
    width: 95%;
    border-radius: 5px;
    border: 2px solid #030303;
    margin: 20px auto;
 }

 h2 {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 10px;
    color: #030303;
}

#log {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


#addclas {
        display: flex;
        flex-direction: column;
        margin-bottom: 41px;
        width:auto;
}

#addclass {
        display: block;
        align-items: center;
        flex-direction: column;
        height:100%;
        padding-bottom: 20px;    
}

.MyButton {
    float: right;
    border-radius: 30px;
    margin-top: 10px;
    border: none;
    padding: 10px 15px;
    background-color: #89c58c; /* Green */
    color: rgb(10, 10, 9);
} 

/* button:hover{ 
    background: #5c815d;
    color: #fff;
} */

.heading {
    color:#0a090a;
    float: left;
}

*{
    font-family: sans-serif, 'Times New Roman', Times, serif;
    box-sizing: padding-box;
}

.form_design {
    border: 3px solid rgb(134, 134, 112);
    padding: 20px;
    background: #d7d2c4;
    border-radius: 10px;
    
}

.index_form_design {
    width: 500px;
    border: 3px solid rgb(134, 134, 112);
    padding: 20px;
    background: rgb(212, 206, 206);
    border-radius: 20px;
}

input {
    display: block;
    border: 2px solid rgb(194, 191, 191);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.but {
    width :170px; 
    float :right; 
    margin-top:40px;
}

.but_log {
    width: auto;
    float: right;
    margin: 20px 2px 5px 5px;
}
.but_reg {
    width: auto;
    float: right;
    margin: 10px 2px 5px 5px;
}

.button {
    background: #59945c;
    color: #fff; 
    border: none;
    width: max-content;
    float: right;
    margin-top: 12px;;
}

.form_btn {
    background: #59945c;
    color: #fff; 
    border: none;
    width: max-content;
    float: right;
    margin-top: 30px;
}

.form_update{
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 25px;
    padding-top: 5px;
    margin-top: 0px;
    padding-bottom: 5px;
    background-color: #c7cccf;
    font-size: 20px;
}

#red {
    color:red;
    background-color: white;
    text-align: center;
}

#green {
    color:green;
    background-color: white;
    text-align: center;
}

h1, p {
    text-align: center;
    color: rgb(69, 108, 141);
}

.std_table{
    background: #d7d2c4 !important;
    padding: 20px;
    border: 2px solid #6e6342 !important;
    border-radius: 10px;
    overflow-x:auto;
}

.tablesec {
    width: auto;
    border: 2px solid rgb(134, 134, 112);
    padding: 3px;
    background: #d7d2c4;
    border-radius: 5px;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #b8bebb;
    font-size: 16px;  
}

a:hover{
    color: #0a0a0a;
    opacity: .7;
}

.ali {
position: absolute;
z-index: 1;
}

.fa {
    font-size: inherit;
}

.add_stu {
    width: auto;
    float: right;
    margin: 26px 2px 5px 5px;
}

/* body{
    margin:0;
    padding:0;
    font-family:'montserrat';
    background:#2859cc;
} */

.logo{
    padding:20px;
}

nav ul{
    margin-top: 56px;
    padding:0;
    height:100%;
    width: 210px;
    position:fixed;
    top:0;
    left:0;
    background-color:#6b6565;
}

nav ul li{
    list-style:none;
}


nav ul li a{
    display:block;
    font-family:'montserrat';
    text-decoration:none;
    text-transform:uppercase;
    font-size:17px;
    color:#fff;
    position:relative;
    padding:15px 0px 15px 25px;
    transition:all 0.5s;
}

nav ul li a:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:100%;
    background:#e3e9f7;
    border-radius:40px 0 0 40px;
    z-index:-1;
    transition:all 1s;
}

nav ul li a:hover{
    color:#2b2626;
}

nav ul li a:hover:before{
    width:95%;
}

.navbar {
    overflow: hidden;
    
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

.wrapper{
   
    width: 100%;
    margin-top: 30px;
    padding-left: 0px;
    position:absolute; 
    z-index:-1; 
    /* background: #2e839c !important;  */
    padding-left: 0px; 
    margin-top: 55px;
}

@media (min-width: 576px) {
    .wrapper {
        padding-left: 0px;
        }
    }

@media (max-width: 768px) {
    .collapse {
    width: 220px;
    }
    }

@media (max-width: 992px) {
    .wrapper {
    padding-left: 0px;
    }
    }

@media (min-width: 993px) {
    .wrapper {
    padding-left: 210px;
    }
    }

@media (max-width: 600px) {
    .std_table {
        background: #ffffff !important;
        padding: 5px;
        border: 2px solid #b4bde6 !important;
    }
    }


.box-area h2{
    text-transform:uppercase;
    font-size:30px;
}

/* .first_container{
    padding-left: 15px;
    padding-right: 5px;
} */

.bg_color {
    background-color: #383030; ;
    color: #fff;
}

.navbar-brand {
   color: rgb(251 251 251 / 90%);
}

.navbar-toggler {
    
    background-color: #f4f8f6;
    border: 2px solid #83bda0;
    
}

/* .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    /* padding-bottom: var(--bs-navbar-brand-padding-y); */
    /* margin-right: 0px; */
/* } */ 